# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
.venv/
env/

# Secrets
.env
.env.*
*.env
!.env.example
!.env.*.example

# IDE
.vscode/
.idea/
*.DS_Store
